<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.anastr.speedview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ControlActivity" />
        <activity android:name=".DeluxeSpeedActivity" />
        <activity android:name=".SpeedViewActivity" />
        <activity android:name=".AwesomeSpeedometerActivity" />
        <activity android:name=".RayActivity" />
        <activity android:name=".PointerActivity" />
        <activity android:name=".WorkWithNoteActivity" />
        <activity android:name=".CreateProgrammatically" />
        <activity android:name=".TubeSpeedometerActivity" />
        <activity android:name=".ImageSpeedometerActivity" />
        <activity android:name=".WorkWithIndicatorActivity" />
        <activity android:name=".StartEndDegreeActivity" />
        <activity android:name=".WorkWithModesActivity" />
        <activity android:name=".SpeedTextPositionActivity" />
        <activity android:name=".lineargauge.ProgressiveGaugeActivity" />
        <activity android:name=".lineargauge.ImageLinearGaugeActivity" />
        <activity android:name=".TickActivity" />
        <activity android:name=".RecyclerActivity"></activity>
    </application>

</manifest>